@{
  Layout = "_Layout";
}
<div class="container">
    <h1 class="centered">Clients</h1>
    <div class="row">
    @foreach (var client in Model)
    {
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title centered"><a href="/clients/@client.Id">@client.FirstName</a></h5>
            <div class="centered">
              <a href="tel:@client.PhoneNumber" class="btn btn-sm btn-outline-success">Call</a>
              <a href="sms:@client.PhoneNumber" class="btn btn-sm btn-outline-info">text</a>
              <a href="mailto:@client.Email" class="btn btn-sm btn-outline-warning">Email</a>
            </div>
          </div>
        </div>
      </div>
    }
    </div>
    <br>
    <br>
    <div class="centered">
      <a href="/clients/new" class="btn btn-outline-primary">Add New Client</a>
      <a href="/clients/delete-all" class="btn btn-outline-danger">Delete All Clients</a>
    </div>
</div>