<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Aha!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/img/logo/favicon.ico" sizes="32x32" type="image/ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel='stylesheet' href='~/css/bootstrap-litera.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src='~/js/scripts.js'></script>
</head>
<body class="splash-body">
  <div class='container'>
    <img class='splash-logo' src="~/img/logo/logo_transparent.png" alt="aha logo">
    <div class='page-centered'>
      <a href='/tutors'><button type="button" class="btn btn-outline-primary btn-lg">Tutors</button></a>
      <a href='/clients'><button type="button" class="btn btn-outline-primary btn-lg">Clients</button></a>
    </div>
  </div>

</body>
</html>
 