@{
  Layout = "_Layout";
}
<div class="container">
    <h1 class="centered">Tutors</h1>
    <div class="card-columns">
    @foreach (var tutor in Model)
    {
        <div class="card border-primary">
          <div class="card-body">
            <h5 class="card-title centered"><a href="/tutors/@tutor.Id">@tutor.LastName, @tutor.FirstName</a></h5>
            <div class="centered">
              <a href="tel:@tutor.PhoneNumber" class="btn btn-sm btn-outline-success">Call</a>
              <a href="sms:@tutor.PhoneNumber" class="btn btn-sm btn-outline-info">text</a>
              <a href="mailto:@tutor.Email" class="btn btn-sm btn-outline-warning">Email</a>
            </div>
          </div>
        </div>
    }
    </div>
    <br>
    <br>
    <div class="centered">
      <a href="/tutors/new" class="btn btn-outline-primary">Add New Tutor</a>
<!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
        Delete All Tutors
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete All Tutors</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                <strong>Warning!</strong> Deleting all tutors cannot be undone.
              </div>
            </div>
            <div class="modal-footer">
              <form method="post" action="/tutors/delete-all">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-outline-danger">Delete All</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
