@{
  Layout = "_Layout";
}

<div class='container'>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Wait!</strong> Deleting all clients cannot be undone!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <p>Are you sure you want to delete all clients?</p>
        <form action="/clients/delete-all" method="post">
          <button class="btn btn-outline-success inline">Yes, Do It!</button>
          <a href="/clients" class="btn btn-outline-danger inline">No, Stop!</a>
        </form>
</div>