@{
  Layout = "_Layout";
}

<div class="container">
    <h2 class="header-text centered">New Client</h2>
    <br>
    <form method="post" action="/clients/new">
        <div class="form-row">
            <div class="col-1">

            </div>
            <div class="col-5">
                <label for="clientFirstName">First Name </label>
                <input name="clientFirstName" type="text" class="form-control" placeholder="First Name" required>             
            </div>
            <div class="col-5">
                <label for="clientLastName">Last Name </label>
                <input name="clientLastName" type="text" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="col-1">

            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-1">
                
            </div>
            <div class="col-7">
                <label for="clientEmail">Email </label>
                <input name="clientEmail" type="email" class="form-control" placeholder="name@example.com" required>
            </div>
            <div class="col-3">
                <label for="clientPhoneNumber">Phone Number </label>
                <input name="clientPhoneNumber" type="tel" class="form-control" placeholder="555-555-5555" required>
            </div>
            <div class="col-1">
                
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-1">
                
            </div>  
            <div class="col">
                <label for="clientStreetAddress">Street Address </label>
                <input name="clientStreetAddress" type="text" class="form-control" placeholder="123 Example Street" required>
            </div>          
            <div class="col-1">
                
            </div>            
        </div>
        <br>
        <div class="form-row">
            <div class="col-1">
                
            </div>
            <div class="col-4">
                <label for="clientCity">City </label>
                <input name="clientCity" type="text" class="form-control" placeholder="123 Example Street" required>
            </div>
            <div class="form-group col-1">
                <label for="clientState">State </label>
                <input name="clientState" type="text" class="form-control" placeholder="OR" required>

            </div>
            <div class="form-group col-2">
                <label for="clientZip">Zip </label>
                <input name="clientZip" type="text" class="form-control" placeholder="12345" required>
            </div>  
            <div class="col-3">
                <label for="clientBirthday">Birthday </label>
                <input name="clientBirthday" type="date" class="form-control" required>
            </div>
            <div class="col-1">
                
            </div>      
        </div>
        <div class="form-row">
            <div class="col-1">

            </div>
            <div class="col">
                <a href="/clients" class="btn btn-outline-warning">Cancel</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary float-right">Add Needs</button>
            </div>
            <div class="col-1">
                
            </div>
        </div>
    </form>
</div>