body {
    background-color: white;
}

.page-centered {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-logo {
    position: fixed;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    text-align: center;
}

.detail-header {
    font-size: 3em;
}

.detail-icon {
    font-size: 2em;
}

.detail-subheader {
    font-size: 1.5em;
}

.detail-info {
    font-size: 1.25em;
}

.inline {
    display: inline-block;
}

.underline {
    border: 1px solid rgba(134, 142, 150, 0.25);
}

.math-icon {
    color: #d9534f;
}

.science-icon {
    color: #02B875;
}

.humanities-icon {
    color: #f0ad4e;
}

.language-icon {
    color: #17a2b8;
}

.ap-icon {
    color: #adb5bd;
}