body {
    background-color: white;
}

.page-centered {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-logo {
    position: fixed;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    text-align: center;
}

.detail-header {
    font-size: 3em;
}

.detail-icon {
    font-size: 2em;
}

.detail-subheader {
    font-size: 1.5em;
    text-decoration: underline;
}

.detail-info {
    font-size: 1.25em;
}

.inline {
    display: inline-block;
}